@import './reset.css';

:root {
    --app-dark-bg:#1a1d28;
    --app-light-bg: #f2f4f6;
    --app-green-hover: #007100;
    --app-light-green: #008000;
    --app-light-bg: #f0f4f6;
    --app-border-radius: 5px;
}

html {
    scroll-behavior: smooth;
    transition: all 0.25s ease-in-out;
}

body {
    background-color: var(--app-light-bg);
    height: 100vh;
}

.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

/* -------------------------------- */
/* Header                           */
/* -------------------------------- */

header {
    width: 100%;
    height: 56px;
    background-color: transparent;
    overflow: hidden;
    position: absolute;
    z-index: 333;
}
  
.flexbox {
    display: flex;
}

.title {
    width: 40%;
    height: 36px;
}

.title h1 {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

nav {
    width: 60%;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.2px;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: underline;
}

.menu-bar nav ul li.toggle {
    display: none;
    text-align: right;
}

nav ul li + li {
    margin-left: 30px;
}

/* -------------------------------- */
/* Hero banner                      */
/* -------------------------------- */

.hero-banner {
    background-image: url('../img/banner\ \(5\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 0.3);
}

section {
    margin-bottom: 50px;
}

.hero-text {
    height: 400px;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 25px;
}

/* -------------------------------- */
/* contact                          */
/* -------------------------------- */

.divide {
    width: 3px;
    height: 320px;
    background-image: linear-gradient(#fff, #a7a7a7, #fff);
}

.info article {
    width: 400px;
    height: 100%;
}

.contact {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.info {
    display: grid;
    place-items: center;
}

.contact-form {
    flex-direction: column;
}

.names {
    width: 400px;
    justify-content: space-between;
}

.names input {
    width: calc(50% - 10px);
}

.message {
    resize: none;
}

.contact-form input {
    height: 50px;
}

.message {
    height: 125px;
}

.contact-form input, .message {
    padding: 10px;
    border-radius: var(--app-border-radius);
    border: 1px solid #e3e6e7;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 0.2);
}

.send {
    background-color: var(--app-light-green);
    color: #fff;
}

.send:hover {
    background-color: var(--app-green-hover);
}

.names, .email, .message, .send {
    margin-bottom: 15px;
}


@media (max-width: 880px) {
    .divide {
        display: none;
    }

    .contact {
        justify-content: center;
    }
}